DATABASE_URL=postgres://profit_tebel:change-me@127.0.0.1:5432/profit_tebel
SESSION_COOKIE_NAME=pt_session
SESSION_TTL_DAYS=14
SUPERADMIN_EMAIL=profittebel.admin@gmail.com
NEXT_PUBLIC_APP_URL=http://localhost:3000
MIDTRANS_SERVER_KEY=
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
ADMIN_EMAILS=
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-XXXXXXXXXX
NEXT_PUBLIC_CLARITY_PROJECT_ID=xxxxxxxxxx
